<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<style>
      body {
            margin-top: 30px ;
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: aquamarine;
        }
        
        button {
            background-color: white;
            color: rgb(81, 161, 124);
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 25%;
        }

        button:hover {
            background-color: rgb(61, 141, 104);
        }

</style>
<body>
    <p>Edit your chat: <%= chat._id %></p>
    <p>This chat was sent from <b><%= chat.from %> </b> to <b> <%= chat.to %> </b></p>

    <form method="POST" action="/chats/<%= chat._id%>?_method=PUT" >
<textarea name="msg" id="" cols="50" rows="10"> <%= chat.msg %></textarea>
<br>
<button>Edit</button>
    </form>
</body>
</html>